body{
    margin: 0;
    font-family: 'Poppins', serif;

}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
.name-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-color: orange; 
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
.dream-area{
    background-image: url("dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.container{
    padding-left:5%;
    display: inline-block;
}
.experiences {
    padding: 30px;
    margin: 30px;
    background-color: rgb(238, 251, 255);
    border-radius: 20px;
}
.experience-item {
    padding: 10px;
    border-left: 1px solid rgba(137, 130, 247, .2)
}